<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Organizador de Tareas</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/tempusdominus.css"scr rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="container body-content">
        @if (Session["mail"] == null)
        {
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">Organizador de Tareas</a>

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/registracion">Registrarse</a>

                    </li>
                </ul>
            </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">Organizador de Tareas</a>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carpetas/index">Carpetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tareas/listar">Tareas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/home/logout">Salir</a>

                </li>
            </ul>
        </nav>
    }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Organizador de tareas</p>
        </footer>
        </div>

        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/moment.min.js" charset="UTF-8"></script>
        <script src="~/Scripts/moment-es.js" charset="UTF-8"></script>
        <script src="~/Scripts/tempusdominus-bootstrap-4.js" charset="UTF-8"></script>
        <script src="~/Scripts/dtp.js"></script>
    </body>
</html>