@using OrganizadorDeTareas
@model OrganizadorDeTareas.CrearCarpetaModel

@{
    ViewBag.Title = "crear";
}

<h2>crear</h2>

<form method="post" action="/carpetas/crear">
    <br>


    <label>Nombre:</label>
    @Html.ValidationMessageFor(o => o.Nombre)
    <input type="text" name="Nombre" value="@Model.Nombre">


    <label>Descripcion:</label>
    @Html.ValidationMessageFor(o => o.Descripcion)
    <input type="text" name="Descripcion" value="@Model.Descripcion">


    <input type="submit" value="Enviar">

</form>
