
@{
    ViewBag.Title = "crear";
}

<h2>crear</h2>

<form method="post" action="/carpetas/crear">
    <br>


    <label>Nombre:</label>
    <input type="text" name="Nombre">



    <label>Descripcion:</label>
    <input type="text" name="Descripcion">





    <input type="submit" value="Enviar">

</form>
