@model OrganizadorDeTareas.Models.Carpeta
@{
    ViewBag.Title = "crear";
}
<form action="crear" method="POST">

    <h2>Nueva Carpeta</h2>
    <div>
        <p>Nombre</p>
        <input name="Nombre" type="text" />
    </div>
    
    <br />
    <br />
    <input name="Guardar" Value="Guardar" type="submit" />
</form>


