
@{
    ViewBag.Title = "index";
}

<h2>Carpetas</h2>

<a href="/carpetas/Listar" class="btn btn-info" role="button">Mis Carpetas</a>
<a href="/carpetas/crear" class="btn btn-info" role="button">Crear Carpeta</a>