@model List<Carpeta>
@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Carpetas</h2>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (Carpeta carpeta in Model)
    {
        <tr>
            <td>@carpeta.Nombre</td>
            <td>@carpeta.Descripcion</td>
            <td> <a href="/carpetas/Editar/@carpeta.IdCarpeta" class="btn btn-success" role="button">Editar</a></td>
            <td> <a href="/carpetas/Borrar/@carpeta.IdCarpeta" class="btn btn-success" role="button">Borrar</a></td>
            <td> <a href="/Tareas/Listar/@carpeta.IdCarpeta" class="btn btn-success" role="button">Ver tareas</a></td>
        </tr>
    }
</table>
<a href="/Carpetas/crear/">Nueva Carpeta</a>

