
@{
    ViewBag.Title = "listar";
}

<h2>Listar</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
    </tr>
    @foreach (Tarea tarea in ViewBag.tareas)
    {
        <tr>
            <td>@tarea.Nombre</td>
            <td>@tarea.Descripcion</td>
            <td> <a href="/Tareas/Detalle/@tarea.IdTarea">Detalles</a></td>
        </tr>
    }
</table>
    @if (ViewBag.idCarpeta == null)
    {
        <a href="/Tareas/Nueva/@ViewBag.idCarpeta">Nueva</a>
    }
    else
    {
        <a href="/Tareas/Nueva/">Nueva</a>
    }
<br>
<a href="/carpetas/index/">Volver</a>