                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td><a href="#">Ver</a></td>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1/1/2000</td>
                                    <td>Tarea 3</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td><a href="#">Ver</a></td>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


        
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>

