<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>Hello, world!</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Organizador de Tareas</a>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Carpetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index">Salir</a>
   
            </li> 
        </ul>
    </nav>




    <div class="jumbotron text-center">
        <h1>Aplicacion web</h1>
        <p>
            Organice sus tareas de un modo facil y rapido con esta nueva aplicacion.<br>
            Registrese de forma gratuita y obtenga todos los beneficios!
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Gestion rapida de tareas</h3>
                <img src="~/Imagenes/lista-tareas-organizacion-e1493275990255-810x466.jpg" class="img-fluid" alt="Responsive image">
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Diseño elegante</h3>
                <img src="~/Imagenes/conoce-tipos-aplicacion_1_2455159.jpg" class="img-fluid" alt="Responsive image">
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Facil de usar</h3>
                <img src="~/Imagenes/apps-gestion-tareas.png" class="img-fluid" alt="Responsive image">
                <p>Ut enim ad..</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>